


:root{
  --main:#9b500a;
  --bg-color:#21bb9a;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.need
{
  font-family:  Menlo, Monaco, Cons;
}


.carousel-inner{
  /* width: 100%; */
  background-color: var(--bg-color);
  width:100%;
  margin: auto;
  padding-top: 1rem ;
  padding-bottom: 3rem;
}
.carousel-item {
  display: block;
  margin-left: auto;
    margin-right: auto;
    width: 20em;
}
.container
{
  margin-top: 2rem;
}
.Info
{
  width:50%;
}

.btn-art{
  background-color: var(--bg-color);
}
.error{
  color: red;
  background-color: rgb(240, 168, 182);
}
.success{
  color: green;
  background-color: rgb(204, 252, 204);
}
.must{
  color: rgb(243, 17, 17);
}